<?xml version='1.0' encoding='utf-8'?>
<widget id="anpho.zhihu.daily" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:rim="http://www.blackberry.com/ns/widgets">
    <name>Zhihu Daily</name>
    <name lang="zh-CN">知乎日报</name>
    <author>anpho</author>
    <description lang="zh-CN">知乎日报客户端</description>
    <description>ZhiHu Daily</description>
    <content src="index.html" />
    <icon src="img/114.png"/>
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="ChildBrowser" value="enable" />
    <preference name="DiskCache" value="enable" />
    <preference name="HideKeyboardFormAccessoryBar" value="disable" />
    <preference name="Orientation" value="default" />
    <preference name="PopupBlocker" value="disable" />
    <preference name="WebSecurity" value="disable" />

    <rim:splash src="img/1280x768.png"/>
    <rim:splash src="img/1280x720.png"/>
    <rim:splash src="img/768x1280.png"/>
    <rim:splash src="img/720x1280.png"/>   
    <rim:splash src="img/720x720.png"/>
</widget>
